h1 {
	padding-left: 15px;
	padding-right: 15px;
}

h1.jumbotron {
  background-color: #acb6d2;
}

.well {
	background-color: #cdd3e4;
	border-color: #acb6d2;
}

.btn.outline {
	background: none;
}
.btn-primary.outline {
	border: 1px solid #0099cc;
	color: #0099cc;
}

li strong {
	font-size: 1.3em;
}